<!doctype html>
<html>
{% if user.is_authenticated %}
<div class="row my-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <em>
                <a class="nav-link {% if index %}active{% endif %}"
                   href="{% url 'posts:index' %}">
                    <h3> Все авторы</h3>
                </a>
            </em>
        </li>
        <li class="nav-item">
            <em>
                <a class="nav-link {% if follow %}active{% endif %}"
                   href="{% url 'posts:follow_index' %}"
                >
                    <h3> Избранные авторы</h3>
                </a>
            </em>
        </li>
    </ul>
</div>
{% endif %}
</html>