<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block content %}
<main>
    <div class="row">
        <h1>
            <font color="MidnightBlue">
                <em>При создании сайта использовались технологии</em>
            </font>
        </h1>
        <aside class="col-12 col-md-3">
            <h2>
                <em>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Python
                        </li>
                        <li class="list-group-item">
                            Django
                        </li>
                        <li class="list-group-item">
                            HTML
                        </li>
                        <li class="list-group-item">
                            SQL
                        </li>
                        <li class="list-group-item">
                            CSS
                        </li>
                           <li class="list-group-item">
                            Bootstrap
                        </li>
                    </ul>
                </em>
            </h2>
        </aside>
    </div>
</main>
{% endblock %}