{% extends 'base.html' %}

{% load thumbnail %}
{% block content %}
<h1> Название группы: {{ group.title }}</h1>
<p> {{ group.description }}</p>
{% for post in page_obj %}
<ul>
    <li>
        Автор: {{ post.author.get_full_name|default:post.author.username }}
    </li>

    <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
</ul>
{% thumbnail post.image "360x339" crop="center" upscale=True as im %}
<img class="card-img my-2" src="{{ im.url }}">
{% endthumbnail %}
<p>
    Текст поста: {{ post.text }}
</p>
{% if post.group %}
<a href="{% url 'posts:post_detail' post.id %}">Информация о посте</a><br>
<a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>

{% endif %}
{% if not forloop.last %}
<hr>{% endif %}
{% endfor %}

{% endblock %}




