{% extends 'base.html' %}
{% block title%}
Пост {{post.text|truncatechars_html:30 }}
{% endblock%}
{% load thumbnail %}
{% block content %}
<body>
<main>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                {% thumbnail post.image "500x500" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                {% if post.group %}
                <ul>
                    <em>
                        <li>
                            <a href="{% url 'posts:group_list' post.group.slug %}">
                               Все записи группы {{ post.group }}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'posts:profile' post.author.username %}">
                                Все посты пользователя {{ post.author.get_full_name|default:post.author.username }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'posts:post_edit' post.id %}">Редактировать пост</a>
                        </li>

                        <li>
                            Всего постов: {{ post.author.posts.count }}
                        </li>
                        <li>
                            Дата публикации: {{ post.pub_date|date:"d E Y" }}
                        </li>
                    </em>
                </ul>
            </div>
            <div class="col">
                <h1>
                    <font color="MidnightBlue">
                        <em>Текст поста: </em>
                    </font>
                </h1>
                <h2>{{ post.text }}</h2>
                {% include 'includes/commit.html' %}
            </div>
        </div>
    </div>
</main>
</body>
{% endblock %}