{% extends 'base.html' %}
{% block title%}
Пост {{post.text|truncatechars_html:30 }}
{% endblock%}

{% block content %}

<body>
<main>
    <div class="row">
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
                <li class="list-group-item">
                    Группа: {{ post.group }}
                    {% if post.group %}
                    <a href="{% url 'posts:group_list' post.group.slug %}">
                      все записи пользователя
                    </a>
                    {% endif %}
                </li>

                <li class="list-group-item">
                    Автор: {{ post.author.get_full_name }}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Всего постов: {{ post.author.posts.count }}
                </li>
                <li class="list-group-item">
                    <a href="{% url 'posts:profile' post.author.username %}">
                        Все посты пользователя
                    </a>
                </li>
            </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
              {{ post.text }}
          </p>
            <a href="{% url 'posts:post_edit' post.id %}">Редактировать пост</a>
        </article>
    </div>
</main>
</body>
{% endblock %}