{% extends 'base.html' %}
{% load static %}
{% block title%}
Профайл  пользователя {{user.username}}
{% endblock %}
{% block content %}
{% load thumbnail %}


<main>
    <form action="{% if is_edit %} {% url 'posts:post_edit' post.id %} {% endif %}"
          method="post">
        {% csrf_token %}
        <div class="mb-5">
            {% if following is True %}
            <a class="btn btn-lg btn-light"
               href="{% url 'posts:profile_unfollow' author.username %}" role="button">
                Отписаться
            </a>
            {% elif following is False %}
            <a class="btn btn-lg btn-primary"
               href="{% url 'posts:profile_follow' author.username %}" role="button">
                Подписаться
            </a>
            {% endif %}
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'img/6e8erscsb7w.jpg' %}" width="200" height="200" align="middle"/>
                    </div>
                    <div class="col-6">
                        <font color="MidnightBlue">
                            <h1><b>Все посты пользователя {{ user.username }}</b></h1>
                        </font>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/25.png' %}" width="200" height="200" align="middle"/>
                    </div>
                </div>
            </div>
            {% load cache %}
            {% cache 20 index_page page_odj.number %}
            {% for post in page_obj %}
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        {% thumbnail post.image "400x400" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                    <div class="col">
                        <h1>
                            <font color="MidnightBlue">
                                <em>Текст поста: </em>
                            </font>
                        </h1>
                        <h2>{{ post.text }}</h2>
                    </div>
                </div>
            </div>
            <ul>
                <em>
                    <li>
                        {% if post.group %}
                        <a href="{% url 'posts:post_detail' post.id %}">Информация о посте</a>
                        {% endif %}
                    </li>
                    <li>
                        Автор: {{ post.author.get_full_name|default:post.author.username }}
                    </li>
                    <li>
                        Дата публикации: {{ post.pub_date|date:"d E Y" }}
                    </li>
                </em>
            </ul>
        </div>
    </form>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    {% endcache %}
</main>

{% endblock %}